<%= render "layouts/second-header" %>

<div class="item-show">
  <img class="hero-image" src="https://cdn.pixabay.com/photo/2015/06/27/16/34/wall-823611__480.jpg">

  <div class="item-box">
    <h2 class="name">
      <%= @item.itemname %>
    </h2>
    <div class="item-img-content">
      <%= image_tag @item.image ,class:"item-box-img" %>
      <% if @item.orders.present? %> 
      <div class="sold-out">
        <span>Sold Out!!</span>
      </div>
      <% end %> 
    </div>
    <div class="item-price-box">
      <span class="item-price">
        ¥<%= @item.price %>
      </span>
    </div>
    <% if user_signed_in? && !@item.orders.present? %> 
      <% if current_user.id == @item.user_id  %>
       <%= link_to "商品の編集", edit_item_path(@item.id), method: :get, class: "item-red-btn" %>
        <p class="or-text">or</p>
       <%= link_to "削除", item_path(@item.id), method: :delete, class:"item-destroy" %>
      <% else %>
       <%= link_to "購入画面に進む", item_orders_path(@item.id) ,class:"item-red-btn"%>
      <% end %>
    <% else %> 
    <% end %> 
   
    <div class="item-explain-box">
      <span><%= @item.explanation %></span>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">出品者</th>
          <td class="detail-value"><%= @item.user.nickname %></td>
        </tr>
        <tr>
          <th class="detail-item">カテゴリー</th>
          <td class="detail-value"><%= @item.category.name %></td>
        </tr>
        <tr>
          <th class="detail-item">度数</th>
          <td class="detail-value"><%= @item.degree.name %></td> 
        </tr>

        <tr>
          <th class="detail-item">発送元の地域</th>
          <td class="detail-value"><%= @item.region.name %></td>
        </tr>
        <tr>
          <th class="detail-item">雰囲気</th>
          <td class="detail-value"><%= @item.atmosphere.name %></td>
        </tr>        
        <tr>
          <th class="detail-item">発送日の目安</th>
          <td class="detail-value"><%= @item.scheduled_delivery.name %></td>
        </tr>
         <tr>
          <th class="detail-item">会社名</th>
          <td class="detail-value"><%= @item.user.nickname %></td>
        </tr>
      </tbody>
    </table>
    <div class="option">
      <div class="favorite-btn">
        <%= image_tag "heart-solid", width:"20",height:"20"  %>
        <span>お気に入り 0</span>
      </div>
    </div>
  </div>

  <div id="comments">
  <h4>＜コメント一覧＞</h4>
    <% @item.comments.each do |comment| %>
      <div class="comment">
        <p class="user-info"><%= comment.user.nickname %>： </p>
        <p><%= comment.lank.name%></p>
        <p><%= comment.text%></p>
      </div>
    <% end %>
  </div>
 <div class="comment-ran">
  <% if user_signed_in?  %>
    
    <%= form_with model: [@item, @comment], id: "comment-form" do |f| %>
        <div class="weight-bold-text">
         評価
          <span class="indispensable">必須</span>
        </div>
      <%= f.collection_select(:lank_id, Lank.all, :id, :name, {}, {class:"select-lank", id:"item-lank"}) %>
      <%= f.text_area :text , class: "comment-text"%>
      <%= f.submit "コメントをする", class: "comment-submit" %>
    <% end %>
  <% end %>
</div>

  <a href="#" class="another-item"><%= @item.category.name %>をもっと見る</a>
</div>

<%= render "layouts/second-footer" %>
